<%- include('layouts/header') %> 
<%- include('layouts/navbar') %> 
          
      <div class="row">
          <!-- Sidebar wraper dashboard -->
              <!-- <div class="col-lg-2 bg-white shadow-sm" id="sidebar-wrapper" style="width: 15rem; height:100%; padding-bottom: 100%;">
                  <div class="list-group pt-3">
                      <a href="#" class="fs-7 text-dark fw-bold ms-1 mb-2">Dashboard</a>
                      <a href="#" class="fs-7 text-dark fw-bold ms-1 mb-2">Projects</a>
                  </div>
                </div> -->
          <!-- /#sidebar-wrapper -->

          <!-- section content -->
          <div class="col-lg-12 ">
              <div class="container-fluid px-4">
              
              <%- include('layouts/breadcrumb') %> 
                
                  <div class="row g-3 my-2">

                  <!--Conten Looping-->
                  <div class="col-lg-12">
                      <form action="/add" method="post" id="add_form" enctype="multipart/form-data">
                          <div class="card">
                              <div class="card-body">
                              <div class="row mb-3 bg-white">
                                  <label for="name" class="col-sm-2 col-form-label">Name <span class="text-danger">*</span></label>
                                  <div class="col-sm-6">
                                      <input type="text" class="form-control" id="name" name="name" placeholder="Avanza" required>
                                  </div>
                                  </div>
                                  <div class="row mb-3  bg-white">
                                  <label for="price" class="col-sm-2 col-form-label">Sewa Per Hari <span class="text-danger">*</span></label>
                                  <div class="col-sm-6">
                                      <input type="text" class="form-control" id="price" name="price" placeholder="Rp 0,-" required>
                                  </div>
                                  </div>
                                  <div class="row mb-3  bg-white">
                                  <label for="size" class="col-sm-2 col-form-label">Ukuran <span class="text-dark">*</span></label>
                                  <div class="col-sm-6">
                                      <select class="form-select form-select-md mb-3" name="size" id="size" aria-label=".form-select-lg example" required>
                                          <option selected>Small</option>
                                          <option value="Small">Small</option>
                                          <option value="Medium">Medium</option>
                                          <option value="Large">Large</option>
                                      </select>
                                  </div>
                                  </div>
                                  <div class="row mb-3  bg-white">
                                  <label for="images" class="col-sm-2 col-form-label">Foto <span class="text-danger">*</span></label>
                                  <div class="col-sm-6">
                                      <input class="form-control" type="file" name="images" id="images" required>
                                      <small>File size max. 2MB</small>
                                  </div>
                                  </div>
                              </div> 
                          </div>
                          <div class="button">
                          <a href="/" class="btn mb-1 mt-1 fw-bold bg-white mt-5" type="reset" style="color: #0D28A6; 
                          border-color: #0D28A6; 
                          border-radius: 2px; 
                          height: 2.5rem;;">Cancel</a>
  
                          <button class="btn mb-1 mt-1 fw-bold ms-3 mt-5" type="submit" style="
                          background-color:#0D28A6 ;
                          color: white;
                          border-radius: 2px; 
                          height: 2.5rem;;">Save</button>
                          
                          </div>
                      </form>
                  </div>
                  <!--End Conten Looping-->
                        
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- /#page-content-wrapper -->

      </div>
    </div>
  </section>

  </body>
</html>